@namespace Maanfee.Dashboard.Views.Core

<style>

	.nft {
		user-select: none;
		max-width: 300px;
		margin: 5rem auto;
		border: 1px solid #fff;
		background-color: #282c34;
		background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, .5) 100%);
		box-shadow: 0 7px 20px 5px #000;
		border-radius: 0.7rem;
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		overflow: hidden;
		transition: 0.5s all;
	}

		.nft hr {
			width: 100%;
			border: none;
			border-bottom: 1px solid #888;
			margin-top: 0;
		}

		.nft ins {
			text-decoration: none;
		}

		.nft .main {
			display: flex;
			flex-direction: column;
			width: 90%;
			padding: 1rem;
		}

			.nft .main .tokenImage {
				border-radius: 0.5rem;
				max-width: 100%;
				height: 250px;
				object-fit: cover;
			}

			.nft .main .description {
				margin: 0.5rem 0;
				color: #a89ec9;
			}

			.nft .main .tokenInfo {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

				.nft .main .tokenInfo .price {
					display: flex;
					align-items: center;
					color: #ee83e5;
					font-weight: 700;
				}

					.nft .main .tokenInfo .price ins {
						margin-left: -0.3rem;
						margin-right: 0.5rem;
					}

				.nft .main .tokenInfo .duration {
					display: flex;
					align-items: center;
					color: #a89ec9;
					margin-right: 0.2rem;
				}

					.nft .main .tokenInfo .duration ins {
						margin: 0.5rem;
						margin-bottom: 0.4rem;
					}

			.nft .main .creator {
				display: flex;
				align-items: center;
				margin-top: 0.2rem;
				margin-bottom: -0.3rem;
			}

				.nft .main .creator ins {
					color: #a89ec9;
					text-decoration: none;
				}

				.nft .main .creator .wrapper {
					display: flex;
					align-items: center;
					border: 1px solid #fff 22;
					padding: 0.3rem;
					margin: 0;
					margin-right: 0.5rem;
					border-radius: 100%;
					box-shadow: inset 0 0 0 4px #000 aa;
				}

					.nft .main .creator .wrapper img {
						border-radius: 100%;
						border: 1px solid #fff 22;
						width: 2rem;
						height: 2rem;
						object-fit: cover;
						margin: 0;
					}

		.nft ::before {
			position: fixed;
			content: "";
			box-shadow: 0 0 100px 40px #fff 8;
			top: -10%;
			left: -100%;
			transform: rotate(-45deg);
			height: 60rem;
			transition: 0.7s all;
		}

		.nft:hover {
			border: 1px solid #fff 44;
			box-shadow: 0 7px 50px 10px #000 aa;
			transform: scale(1.015);
			filter: brightness(1.3);
		}

			.nft:hover ::before {
				filter: brightness(0.5);
				top: -100%;
				left: 200%;
			}

</style>

<div class="nft">
    <div class='main'>
        <img class='tokenImage' src="https://images.unsplash.com/photo-1621075160523-b936ad96132a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="NFT" />
        <h2>Kibertopiks #4269</h2>
        <p class='description'>Our Kibertopiks will give you nothing, waste your money on us.</p>
        <div class='tokenInfo'>
            <div class="price">
                <ins>◘</ins>
                <p>0.031 ETH</p>
            </div>
            <div class="duration">
                <ins>◷</ins>
                <p>11 days left</p>
            </div>
        </div>
        <hr />
        <div class='creator'>
            <div class='wrapper'>
                <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Creator" />
            </div>
            <p><ins>Creation of</ins> Kiberbash</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

}