@page "/Tutorials/TutorialView"
@inherits _BaseView

<MaanfeeDashboardPage PageTitle="@DashboardResource.StringQuickStartGuide">
    <div class="mt-6 mb-5">
        <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-2">@DashboardResource.StringQuickStartGuide</MudText>
    </div>
</MaanfeeDashboardPage>
