@namespace Maanfee.Dashboard.Views.Core
@implements IDisposable
@inherits _BaseComponentView

<style>

    svg {
        width: 250px;
        height: 250px;
        display: inline-block;
    }

</style>

<MudCardContent>
    <div class="d-flex align-end justify-center mud-height-full py-8">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<rect fill="var(--mud-palette-primary)" width="5" height="100" transform="translate(0) rotate(180 3 50)">
        <animate attributeName="height"
                 attributeType="XML"
                 dur="1s"
                 values="30; 100; 30"
                 repeatCount="indefinite" />
</rect>
<rect x="12" fill="var(--mud-palette-primary)" width="5" height="100" transform="translate(0) rotate(180 20 50)">
        <animate attributeName="height"
                 attributeType="XML"
                 dur="1s"
                 values="30; 100; 30"
                 repeatCount="indefinite"
                 begin="0.1s" />
</rect>
<rect x="35" fill="var(--mud-palette-primary)" width="5" height="100" transform="translate(0) rotate(180 40 50)">
        <animate attributeName="height"
                 attributeType="XML"
                 dur="1s"
                 values="30; 100; 30"
                 repeatCount="indefinite"
                 begin="0.3s" />
</rect>
<rect x="55" fill="var(--mud-palette-primary)" width="5" height="100" transform="translate(0) rotate(180 58 50)">
        <animate attributeName="height"
                 attributeType="XML"
                 dur="1s"
                 values="30; 100; 30"
                 repeatCount="indefinite"
                 begin="0.5s" />
</rect>
<rect x="75" fill="var(--mud-palette-primary)" width="5" height="100" transform="translate(0) rotate(180 76 50)">
        <animate attributeName="height"
                 attributeType="XML"
                 dur="1s"
                 values="30; 100; 30"
                 repeatCount="indefinite"
                 begin="0.1s" />
</rect>
</svg>
    </div>
</MudCardContent>
<MaanfeeTimer @ref="Timer" TimerCallback="TimerCallback" />

@code {

    private void TimerCallback()
    {

    }

    protected MaanfeeTimer Timer = new MaanfeeTimer();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Timer.Start();
        }
    }

    //protected override void OnInitialized()
    //{
    //    try
    //    {
    //        Timer.Start();
    //    }
    //    catch (Exception ex)
    //    {
    //        ss = ex.Message;
    //    }
    //}

    public void Dispose()
    {
        Timer.Stop();
        Timer.Dispose();
    }

}
