@namespace Maanfee.Dashboard.Views.Core
@inherits _BaseComponentView

<style>
      
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--mud-palette-secondary);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border-left: 4px solid var(--mud-palette-primary);
        border-bottom: 4px solid transparent;
        animation: rotation 0.5s linear infinite reverse;
    }

@@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

</style>

<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%" Animation="Animation.Wave" />
<MudCardContent>
    <MudSkeleton Width="30%" Height="50px;" />
    <MudSkeleton Width="80%" Height="35px;" />
    <MudSkeleton Width="100%" Height="200px;" />
</MudCardContent>
<MudCardActions>
    <MudSkeleton Width="100px" Height="60px" Class="ml-2" />
    <MudSkeleton Width="100px" Height="60px" Class="ml-3" />
    <MudSkeleton Width="100px" Height="60px" Class="ml-3" />
</MudCardActions>
<MudOverlay Visible="!IsLoaded" DarkBackground="false" Absolute="true" Style="top:5%;">
    @*<MudProgressCircular Color="Color.Secondary" Indeterminate="true" Size="Size.Large" />*@
    <span class="loader"></span>
</MudOverlay>
