
@font-face {
    font-family: 'BYekan';
    src: url(../fonts/BYekan/BYekan.eot?#) format('eot'), /* IE6â€“۸ */
    url(../fonts/BYekan/BYekan.woff) format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url(../fonts/BYekan/BYekan.ttf) format('truetype'); /* Saf3â€”۵, Chrome4+, FF3.5, Opera 10+ */
}

/*
@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/IranNastaliq/IranNastaliq.ttf') format('truetype');
}
*/

body {
    font-family: BYekan, Tahoma, Arial, Helvetica, sans-serif !important;
    /*font-family: P tahoma,Tahoma, Arial, Helvetica, sans-serif !important;*/ /*Added Tahoma font is added*/
}
